{% load static %}
<html>
<head>
    <title>login</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <link rel="stylesheet" href="{% static 'gsc/addsite.css' %}">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


    <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="jquery.js"></script>

</head>

<body>
        <!--Navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">We5</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'gsc-home' %}">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'gsc-visualize' %}">Visualize</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'gsc-documentation' %}">Documentation</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'gsc-about'%}">About us</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
    </ul>
  </div>
</nav>
<!--/.Navbar -->
   

<div class="bg">

<div class="add-site">
    <img src="images/addsite1.png" class="avatar">
        <h1>Let's Start</h1>
    <form action="visualize">
        {% csrf_token %}
        <br><br>
        <h1><label>{{website}}</label></h1>
            <p>Enter Keyword</p>
            <input type="text" name="keyword" placeholder="Enter Keyword">
            <p>Enter Device</p>
            <input type="text" name="device" placeholder="Enter Device">
             <p>Enter Location</p>
            <input type="text" name="location" placeholder="Enter Location">
            <p>
            <label for="start">Start date:</label>  <label for="start">End date:</label><br>
            <input type="date" id="start" name="trip-start"
             value="yyyy-mm-dd"
             min="1990-01-01" max="2050-12-31" style="width:150px;" >
             </p>

             <p>
           
            <input type="date" id="end" name="trip-end"
             value="yyyy-mm-dd"
             min="1990-01-01" max="2050-12-31" style="width:150px;" >
             </p>
            <input type="submit" name="submit" value="Visualize">
            <div align="center">
                <br>
                <a href="your sites.html" style="color: yellow"><u>Go Back</u></a>
                
                 
            </div>    
    </form>
        </div>  
</div>

<footer>
<div class="container-fluid opct opacity-10" style="background-color: #3e3e3e;">
 <div class="row justify-content-md-center">
    <div class="col-6 col-md-4" style="padding-left: 35px;padding-top: 15px;padding-bottom: 20px;">
      <font color="white"> <h3>&nbsp;&nbsp;&nbsp;About US</h3><br>
      Since 2019, We5 has been<br>the trusted software development <br>partner for customer across the<br> globe. We5 offers software development <br>services to small and midsize technologies<br> and consulting companies. </font>
    </div>

    <div class="col-6 col-md-4 align-items-start" style="padding-left:200px;padding-top: 25px;">
      <font color="white"> <h3>Quick Link</h3><br>
      <a href="{% url 'gsc-home' %}" style="color: white"><u>Home</u></a><br><a href="{% url 'gsc-visualize' %}" style="color: white"><u>Visualize</u></a><br>
        <a href="{% url 'gsc-documentation' %}" style="color: white"><u>Documentation</u></a><br><a href="{% url 'gsc-about' %}" style="color: white"><u>About us</u></a><br></font>

    </div>

    <div class="col-6 col-md-4" style="padding-left: 200px;padding-top: 25px;">
      <font color="white">
        <h3>Contact US</h3><br>
        CSE Department TKIET,<br>Warananagar Kolhapur 416113<br>Phone: 1234567890<br>Email: we5@gmail.com<br> Website: www.we5.com</font>
    </div>

  </div>
</div>

</footer>
</body>
</html>